.Navbar {
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    background-color: #323644;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    color: white;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.Navbar div{
    width:20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}

.Navbar a {
    color: white;
}

.Navbar a:hover {
    color: aqua;
    cursor: pointer;
}

a.ActiveLink {
    color: aqua;
}

.MenuButtons {
    background-color: #323644 ;
    color: white;
    border: none;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18%;
}

.MenuItems {
    font-size: medium;
}